## Deliverable 3. Create a Travel Itinerary Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [42]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,city,country,latitude,longitude,Maximum_temperature,percent_humidity,percent_cloudiness,wind_speed,description
0,2,2,Cayenne,GF,4.9333,-52.3333,24.49,90,0,0.00,clear sky
1,4,4,Isabela,PH,6.7085,121.9711,31.03,59,84,1.92,broken clouds
2,8,8,Urucurituba,BR,-2.6833,-57.6667,26.61,56,69,0.36,broken clouds
3,12,12,Arlit,NE,18.7369,7.3853,30.08,46,86,4.13,overcast clouds
4,16,16,Venice,US,27.0998,-82.4543,29.01,87,40,2.06,scattered clouds

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
<dt>Maximum_temperature</dt><dd>{Maximum_temperature} Â°F</dd>
<dt>description</dt><dd>{description} </dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["latitude", "longitude"]]

In [44]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

max_temp = vacation_df["Maximum_temperature"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["city"]=='Troy')]

vacation_end = vacation_df.loc[(vacation_df["city"]=='Troy')]


vacation_stop1 = vacation_df.loc[(vacation_df["city"]=="Bud")]
vacation_stop2 = vacation_df.loc[(vacation_df["city"]=="Hamilton")] 
vacation_stop3 = vacation_df.loc[(vacation_df["city"]=="Fort Dix")]

In [59]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["latitude"].to_numpy()[0], vacation_start["longitude"].to_numpy()[0]
end = vacation_end["latitude"].to_numpy()[0], vacation_end["longitude"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

# Get the lat and lng for the stops
coords_stop_1 = vacation_stop1["latitude"].to_numpy()[0], vacation_stop1["longitude"].to_numpy()[0]
coords_stop_2 = vacation_stop2["latitude"].to_numpy()[0], vacation_stop2["longitude"].to_numpy()[0]
coords_stop_3 = vacation_stop3["latitude"].to_numpy()[0], vacation_stop3["longitude"].to_numpy()[0]
print(f'Stop 1: {coords_stop_1}, Stop 2: {coords_stop_2}, Stop 3: {coords_stop_3}')

Start: (42.6056, -83.1499), End: (42.6056, -83.1499)
Stop 1: (39.447, -86.1758), Stop 2: (39.1834, -84.5333), Stop 3: (40.0298, -74.6185)

In [61]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[coords_stop_1, coords_stop_2,coords_stop_3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,city,country,latitude,longitude,Maximum_temperature,percent_humidity,percent_cloudiness,wind_speed,description
0,68,68,Troy,US,42.6056,-83.1499,24.26,85,64,0.45,broken clouds
1,297,297,Bud,US,39.4470,-86.1758,25.97,87,76,2.18,broken clouds
2,55,55,Hamilton,US,39.1834,-84.5333,26.34,85,1,0.00,clear sky
3,501,501,Fort Dix,US,40.0298,-74.6185,23.65,86,1,0.00,clear sky

In [70]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>

<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
<dt>Maximum_temperature</dt><dd>{Maximum_temperature} Â°F</dd>
<dt>description</dt><dd>{description} </dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["latitude", "longitude"]]

In [72]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Maximum_temperature"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))