## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(5)

,City_ID,city,country,latitude,longitude,Maximum_temperature,percent_humidity,percent_cloudiness,wind_speed,description
0,0,Agüimes,ES,27.9054,-15.4461,20.35,78,75,9.77,broken clouds
1,1,Ancud,CL,-41.8697,-73.8203,6.74,92,8,1.92,clear sky
2,2,Cayenne,GF,4.9333,-52.3333,24.49,90,0,0.00,clear sky
3,3,Damāvand,IR,35.7178,52.0650,19.91,62,45,2.41,scattered clouds
4,4,Isabela,PH,6.7085,121.9711,31.03,59,84,1.92,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 23
What is the maximum temperature you would like for your trip? 32

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df=city_data_df.loc[(city_data_df["Maximum_temperature"] <= max_temp) & 
                                       (city_data_df["Maximum_temperature"] >= min_temp)]
preferred_cities_df.head()

,City_ID,city,country,latitude,longitude,Maximum_temperature,percent_humidity,percent_cloudiness,wind_speed,description
2,2,Cayenne,GF,4.9333,-52.3333,24.49,90,0,0.00,clear sky
4,4,Isabela,PH,6.7085,121.9711,31.03,59,84,1.92,broken clouds
8,8,Urucurituba,BR,-2.6833,-57.6667,26.61,56,69,0.36,broken clouds
12,12,Arlit,NE,18.7369,7.3853,30.08,46,86,4.13,overcast clouds
16,16,Venice,US,27.0998,-82.4543,29.01,87,40,2.06,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                240
city                   240
country                240
latitude               240
longitude              240
Maximum_temperature    240
percent_humidity       240
percent_cloudiness     240
wind_speed             240
description            240
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df
clean_df

,City_ID,city,country,latitude,longitude,Maximum_temperature,percent_humidity,percent_cloudiness,wind_speed,description
2,2,Cayenne,GF,4.9333,-52.3333,24.49,90,0,0.00,clear sky
4,4,Isabela,PH,6.7085,121.9711,31.03,59,84,1.92,broken clouds
8,8,Urucurituba,BR,-2.6833,-57.6667,26.61,56,69,0.36,broken clouds
12,12,Arlit,NE,18.7369,7.3853,30.08,46,86,4.13,overcast clouds
16,16,Venice,US,27.0998,-82.4543,29.01,87,40,2.06,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
713,713,Bajil,YE,15.0584,43.2851,30.90,58,69,1.90,broken clouds
717,717,Novo Aripuanã,BR,-5.1206,-60.3797,23.47,53,5,1.29,clear sky
721,721,Waddān,LY,29.1614,16.1390,23.19,60,0,1.63,clear sky
724,724,Dāmghān,IR,36.1683,54.3480,25.20,51,0,4.82,clear sky
725,725,Turbat,PK,26.0023,63.0440,31.12,67,100,2.65,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["city", "country", "Maximum_temperature", "description", "latitude", "longitude"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,city,country,Maximum_temperature,description,latitude,longitude,Hotel Name
2,Cayenne,GF,24.49,clear sky,4.9333,-52.3333,
4,Isabela,PH,31.03,broken clouds,6.7085,121.9711,
8,Urucurituba,BR,26.61,broken clouds,-2.6833,-57.6667,
12,Arlit,NE,30.08,overcast clouds,18.7369,7.3853,
16,Venice,US,29.01,scattered clouds,27.0998,-82.4543,
17,Port-Gentil,GA,24.44,broken clouds,-0.7193,8.7815,
19,Mitha Tiwana,PK,31.16,scattered clouds,32.2486,72.1108,
25,St. Marys,US,26.01,clear sky,30.7305,-81.5465,
32,Kavaratti,IN,27.92,overcast clouds,10.5669,72.6420,
34,Shāhābād,IN,30.98,overcast clouds,27.6500,79.9500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}



for index, row in hotel_df.iterrows():
    

    # Get the latitude and longitude.
    lat = row["latitude"]
    lng = row["longitude"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Hotel found for location" + str(index))
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel found for location2
Hotel found for location4
Hotel not found... skipping.
Hotel found for location12
Hotel found for location16
Hotel found for location17
Hotel found for location19
Hotel found for location25
Hotel found for location32
Hotel found for location34
Hotel found for location36
Hotel found for location46
Hotel found for location49
Hotel found for location55
Hotel found for location57
Hotel found for location68
Hotel found for location69
Hotel found for location70
Hotel found for location73
Hotel found for location77
Hotel found for location78
Hotel found for location84
Hotel found for location85
Hotel found for location87
Hotel not found... skipping.
Hotel found for location92
Hotel found for location93
Hotel found for location97
Hotel found for location101
Hotel not found... skipping.
Hotel found for location110
Hotel found for location111
Hotel found for location113
Hotel found for location119
Hotel found for location122
Hotel found for location124
Hotel found for location129
Hotel found for location130
Hotel not found... skipping.
Hotel found for location135
Hotel found for location141
Hotel not found... skipping.
Hotel found for location146
Hotel found for location149
Hotel found for location151
Hotel found for location155
Hotel found for location156
Hotel found for location157
Hotel found for location162
Hotel found for location165
Hotel found for location169
Hotel found for location174
Hotel found for location178
Hotel found for location188
Hotel found for location199
Hotel found for location201
Hotel not found... skipping.
Hotel found for location208
Hotel found for location213
Hotel found for location215
Hotel found for location220
Hotel found for location225
Hotel found for location227
Hotel found for location229
Hotel found for location232
Hotel found for location239
Hotel found for location242
Hotel found for location244
Hotel not found... skipping.
Hotel found for location249
Hotel found for location250
Hotel found for location254
Hotel found for location258
Hotel found for location260
Hotel found for location262
Hotel found for location265
Hotel found for location266
Hotel found for location268
Hotel found for location270
Hotel found for location271
Hotel found for location275
Hotel found for location281
Hotel found for location286
Hotel found for location290
Hotel found for location292
Hotel found for location294
Hotel found for location295
Hotel found for location296
Hotel found for location297
Hotel found for location299
Hotel found for location302
Hotel found for location311
Hotel found for location312
Hotel not found... skipping.
Hotel found for location315
Hotel found for location316
Hotel found for location320
Hotel found for location321
Hotel found for location324
Hotel found for location330
Hotel found for location332
Hotel found for location333
Hotel found for location338
Hotel found for location342
Hotel found for location345
Hotel found for location349
Hotel not found... skipping.
Hotel found for location353
Hotel not found... skipping.
Hotel found for location360
Hotel found for location361
Hotel not found... skipping.
Hotel found for location370
Hotel found for location372
Hotel found for location374
Hotel found for location378
Hotel found for location381
Hotel found for location382
Hotel found for location390
Hotel found for location398
Hotel found for location399
Hotel found for location407
Hotel found for location410
Hotel found for location411
Hotel found for location416
Hotel found for location419
Hotel found for location420
Hotel found for location421
Hotel found for location423
Hotel found for location424
Hotel not found... skipping.
Hotel not found... skipping.
Hotel found for location431
Hotel not found... skipping.
Hotel not found... skipping.
Hotel found for location440
Hotel not found... skipping.
Hotel found for location444
Hotel not found... skipping.
Hotel found for location449
Hotel found for location453
Hotel found for location454
Hotel found for location456
Hotel found for location458
Hotel found for location460
Hotel found for location461
Hotel found for location464
Hotel found for location466
Hotel found for location468
Hotel found for location469
Hotel found for location475
Hotel found for location476
Hotel found for location478
Hotel found for location482
Hotel found for location484
Hotel found for location487
Hotel found for location494
Hotel found for location498
Hotel found for location501
Hotel found for location508
Hotel found for location511
Hotel found for location512
Hotel found for location515
Hotel found for location516
Hotel found for location519
Hotel found for location522
Hotel not found... skipping.
Hotel found for location525
Hotel found for location526
Hotel found for location527
Hotel not found... skipping.
Hotel found for location533
Hotel found for location535
Hotel not found... skipping.
Hotel found for location542
Hotel found for location543
Hotel found for location544
Hotel found for location548
Hotel found for location549
Hotel found for location554
Hotel found for location559
Hotel found for location560
Hotel found for location573
Hotel found for location579
Hotel found for location581
Hotel found for location582
Hotel found for location584
Hotel found for location588
Hotel found for location592
Hotel found for location597
Hotel found for location598
Hotel not found... skipping.
Hotel found for location600
Hotel found for location601
Hotel found for location604
Hotel found for location605
Hotel found for location607
Hotel not found... skipping.
Hotel found for location611
Hotel found for location612
Hotel found for location621
Hotel found for location623
Hotel found for location625
Hotel found for location627
Hotel found for location629
Hotel found for location632
Hotel found for location636
Hotel found for location637
Hotel found for location639
Hotel found for location643
Hotel found for location644
Hotel found for location645
Hotel found for location649
Hotel not found... skipping.
Hotel found for location655
Hotel found for location656
Hotel found for location662
Hotel found for location668
Hotel found for location672
Hotel found for location673
Hotel found for location674
Hotel found for location675
Hotel found for location676
Hotel found for location679
Hotel found for location680
Hotel not found... skipping.
Hotel not found... skipping.
Hotel found for location687
Hotel found for location690
Hotel found for location695
Hotel found for location701
Hotel found for location706
Hotel found for location707
Hotel found for location710
Hotel found for location711
Hotel found for location713
Hotel found for location717
Hotel found for location721
Hotel found for location724
Hotel found for location725

In [9]:
hotel_df.head(10)

,city,country,Maximum_temperature,description,latitude,longitude,Hotel Name
2,Cayenne,GF,24.49,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
4,Isabela,PH,31.03,broken clouds,6.7085,121.9711,Isawad Resort
8,Urucurituba,BR,26.61,broken clouds,-2.6833,-57.6667,
12,Arlit,NE,30.08,overcast clouds,18.7369,7.3853,Case de Passage De la Prefecture
16,Venice,US,29.01,scattered clouds,27.0998,-82.4543,A Beach Retreat On Casey Key
17,Port-Gentil,GA,24.44,broken clouds,-0.7193,8.7815,Fengshui Residence
19,Mitha Tiwana,PK,31.16,scattered clouds,32.2486,72.1108,Canal Rest House
25,St. Marys,US,26.01,clear sky,30.7305,-81.5465,Spencer House Inn
32,Kavaratti,IN,27.92,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
34,Shāhābād,IN,30.98,overcast clouds,27.6500,79.9500,डाक बंगला

In [10]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df

,city,country,Maximum_temperature,description,latitude,longitude,Hotel Name
2,Cayenne,GF,24.49,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
4,Isabela,PH,31.03,broken clouds,6.7085,121.9711,Isawad Resort
8,Urucurituba,BR,26.61,broken clouds,-2.6833,-57.6667,NaN
12,Arlit,NE,30.08,overcast clouds,18.7369,7.3853,Case de Passage De la Prefecture
16,Venice,US,29.01,scattered clouds,27.0998,-82.4543,A Beach Retreat On Casey Key
...,...,...,...,...,...,...,...
713,Bajil,YE,30.90,broken clouds,15.0584,43.2851,فندق حضرموت
717,Novo Aripuanã,BR,23.47,clear sky,-5.1206,-60.3797,Hotel Ezequiel
721,Waddān,LY,23.19,clear sky,29.1614,16.1390,محل الشريف محمد العايب
724,Dāmghān,IR,25.20,clear sky,36.1683,54.3480,خوابگاه اساتيد دانشگاه دامغان
725,Turbat,PK,31.12,overcast clouds,26.0023,63.0440,Mubashar Quarters

In [11]:
hotel_df.dropna()

,city,country,Maximum_temperature,description,latitude,longitude,Hotel Name
2,Cayenne,GF,24.49,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
4,Isabela,PH,31.03,broken clouds,6.7085,121.9711,Isawad Resort
12,Arlit,NE,30.08,overcast clouds,18.7369,7.3853,Case de Passage De la Prefecture
16,Venice,US,29.01,scattered clouds,27.0998,-82.4543,A Beach Retreat On Casey Key
17,Port-Gentil,GA,24.44,broken clouds,-0.7193,8.7815,Fengshui Residence
...,...,...,...,...,...,...,...
713,Bajil,YE,30.90,broken clouds,15.0584,43.2851,فندق حضرموت
717,Novo Aripuanã,BR,23.47,clear sky,-5.1206,-60.3797,Hotel Ezequiel
721,Waddān,LY,23.19,clear sky,29.1614,16.1390,محل الشريف محمد العايب
724,Dāmghān,IR,25.20,clear sky,36.1683,54.3480,خوابگاه اساتيد دانشگاه دامغان
725,Turbat,PK,31.12,overcast clouds,26.0023,63.0440,Mubashar Quarters

In [12]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>

<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
<dt>Maximum_temperature</dt><dd>{Maximum_temperature} °F</dd>
<dt>description</dt><dd>{description} </dd>

</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_df[["latitude", "longitude"]]
max_temp = hotel_df["Maximum_temperature"]

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
<dt>Maximum_temperature</dt><dd>{Maximum_temperature} °F</dd>
<dt>description</dt><dd>{description} </dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_df[["latitude", "longitude"]]

done

In [20]:
# 11a. Add a marker layer for each city to the map. 

max_temp = hotel_df["Maximum_temperature"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))